@import "tailwindcss";

/* This is not working!!! */
@layer base {
  :root {
    --color-hero-dark-blue: 226 236 246;
    --color-hero-light-blue: 230 242 247;
  }
}

* {
  font-family: "Poppins", serif;
}

body {
  overflow-x: hidden;
  background: rgba(150, 183, 255, 0.089);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #939599;
  border-radius: 10px;
}

@theme {
  --container-padding: 1rem;
}

@layer utilities {
  .custom-transparent-black {
    background-color: rgba(0, 0, 0, 0.532);
  }
}

@utility container {
  margin-inline: auto; /* Centers the container */
  padding-inline: var(--container-padding); /* Applies custom horizontal padding */

  @media (min-width: 640px) {
    --container-padding: 0;
  }

  @media (min-width: 1024px) {
    --container-padding: 4rem;
  }
}
